<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6" style="margin-top: 100px;background-color: skyblue; border-radius: 50px;"><div class="borderouter">
            <h3> Please login or signup To continue</h3>
            <div id="loginsignupbutton"> 
            <div> &nbsp;</div>
            <input type="text" placeholder="enter mobile no. or email id"><br><br>
            <input type="password" placeholder="enter password"></div> 
</div>
    <div style="text-align:center;"><input type="submit">&nbsp;&nbsp;&nbsp;&nbsp;</div>
    
</div></div>
        <div class="col-md-2"></div>
    </div>

