<div class="container-fluid ">
  <div class="row" style="background-color: purple; margin: 10px 0; height: 50px; ">
    <div class="col-md-2" style="margin-top: 5px; margin-bottom: 20px;"><img src="./assets/logoedit.png" width="100%" height="50%"></div>
    <div class="col-md-2 offset-md-6" style="padding-top: 10px;"><a routerLink="SignIn">SignIn</a></div>
    <div class="col-md-2" style="padding-top: 10px;"><a routerLink="SignUp">SignUp</a></div>
  </div>
  <router-outlet></router-outlet> 
</div> 
<div class="col-md-12">&nbsp;</div>
<div class="container">
  <div class="row" style="background-color:green; height: 50px;padding-top: 10px;">
    <div class="col-md-2"><a routerLink="Home">Home</a></div>
    <div class="col-md-2"><a routerLink="About Us">About us</a></div>
    <div class="col-md-2"><a routerLink="Features">Features</a></div>
    <div class="col-md-2"><a routerLink="Contact-us">Contact us</a></div>
    <div class="col-md-3 offset-md-1"><input type="text" placeholder="search box">
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container-fluid ">
    
  <div class="col-md-12"><img src="./assets/gettyimages-905536886-2048x2048.jpg" width="100%" ></div>

</div>
 <!--  <router-outlet></router-outlet> -->
<!--footer-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="background-color: black; height:200px; margin-top: 25px; text-align:center; padding-top:40px; color: white;"> websites policies | help | ccontact us | web information manager | feedback | privacy policy | disclaimer <br> Website Content Managed by © Content Owned by Anuj Kesharwani,<br> Prayagraj, India.<br>
Designed, Developed by Anuj kesharwani<br>
Last Updated: 13 nov 2022 </div>    
  </div>
</div>