
 <div class="container-fluid">
    <form #userForm="ngForm">
        <div class="row">
            <div class="col-md-4"></div>
                <div class="col-md-6" style="margin-top: 100px;background-color: skyblue; border-radius: 50px;"><div class="borderouter">
                    <h3> Please login  or signup To continue</h3>
                    <div id="loginsignupbutton"> 
                    <div> &nbsp;</div>
                    
                        <input type="text" placeholder="first_name" name="name" ngModel>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                    <input type="text" placeholder="last_name" name="lastname" ngModel><br>
                    <select name="month" ngModel>
                        <option value="month" >month</option>
                        <option value="jan">january</option>
                        <option value="feb">ferbuary</option>
                        <option value="mar">march</option>
                    </select>
                    <select name="days" ngModel>
                        <option value="days">days</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <select name="year" ngModel>
                        <option value="year">year</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                    </select>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="text" placeholder="enter age" name="age"ngModel><br>
                    
                        <input type="text" placeholder="enter mobile no." name="mobile ngModel">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <input type="text" placeholder="enter email id" name="email" ngModel><br><br>
                        <input type="password" placeholder="enter password" name="password" ngModel>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <input type="password" placeholder="confirm password" name="cpassword" ngModel></div><br>
                        Gender&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <input type="radio" value="male" name="male" ngModel>male&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <input type="radio" value="female" name="male" ngModel>female&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <input type="radio" value="other" name="male" ngModel>other<br>
                        <div style="text-align:center;">
                        
                        <button type="submit" (click)=register(userForm.value)>submit</button>
                    
                </div>
            </div>
            </div>
        </div>
    </form>
</div>
       <!--   <div class="col-md-2"></div>
    </div>-->



